
body {
     text-align: center;
	background-color:  #24343E ;
	color: antiquewhite;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
}
 
.is-invalid{
	border: 3px solid red !important;
   }
   
.is-valid{
	border: 3px solid #03AC13 !important;
   }

   input:-webkit-autofill,
    input:-webkit-autofill
	:active{
	   -webkit-box-shadow: 0 0 0 30px rgb(68, 83, 168 ) inset !important;
   }
 
   input:-webkit-autofill{
    -webkit-text-fill-color: rgb(8, 16, 39) !important;
}
 h2{
	font-size: 44px;
    padding: 22px; 
	margin-top: 22px;
}
.btn:hover{
	color	:  #dee5e6 !important ; 
    background-color: #0D6EFD !important;
} 

a{
 text-decoration: none;
} 

.form {
	padding: 22px !important;
 margin: 22px !important;
}
 .btn {
	font-size: larger !important;
	width: 30% !important;
	border: 1px solid #0D6EFD !important;
	color: white !important;
	height: 44px;
	border-radius: 22px ;
	background-color: transparent;
}
input::placeholder {
	color: rgb(236, 231, 231) !important; /* Change placeholder color to red */
}

input {
	height: 44px;
	font-size: 21px !important;
	margin-bottom: 7px !important;
 	margin-left: 60px;
	width: 70% !important;
	background-color: transparent !important; 
}

.card{
	padding: 22px !important;
	height: 70vh;
	background-color: transparent;
	box-shadow: 0 3px 5px 3px rgb(17, 21, 43, .4); /* Add box shadow */
}

.underline {
	border-bottom: 1px solid;
}
/* Adjust input width and make them responsive */
input {
    height: 44px;
    font-size: 21px !important;
    margin-bottom: 7px !important;
    width: calc(100% - 120px) !important; /* Subtract the margin-left from the total width */
    background-color: transparent !important; 
}

@media (min-width: 768px) {
    /* Adjust input width for larger screens */
    input {
        width: 150% !important; /* Adjust width for larger screens */
    }
}
